.convoContainer {
  width: 30vw;
  height: 30vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.witchImg {
  height: 50%;
}

.convoBubble {
  width: 100%;
  background-image: radial-gradient(#423364, #423364, #1b1529);
  border: 2px solid black;
  font-size: 3vh;
  color: white;
  text-shadow: 1px 1px 4px black;
  border-radius: 20px;
  padding: 2vh;
}
