<pre>
<b>Build A Witch Terms and conditions & Privacy Policy</b>
Last updated 25.08.2021
-----------------------------------------------------------------------------------------------------------------------
Please read these Terms and Conditions & Privacy Policy carefully before using the
https://github.com/Sugarixi/BuildAWitch website.
Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms
apply to all visitors, users and others who access or use the Service.
The privacy policy will explain how our organization uses the personal data we collect from you when you use our
website.
-----------------------------------------------------------------------------------------------------------------------
<b>Topics:
• What data do we collect?
• How do we collect your data?
• How will we use your data?
• How do we store your data?
• What are your data protection rights?
• Privacy policies of other websites
• Changes to our privacy policy
• How to contact us
-----------------------------------------------------------------------------------------------------------------------
Build A Witch website</b>

Build A Witch website was built solely for coding practise purposes. All graphics are design and drawn by Tuire
Nissinen. Please don’t use them without permission.
-----------------------------------------------------------------------------------------------------------------------
<b>What data do we collect?</b>

Our Company collects the following data:
• Personal identification information (email address)
-----------------------------------------------------------------------------------------------------------------------
<b>How do we collect your data?</b>

You directly provide Our Company with most of the data we collect. We collect data and process data when you:
• Register on our website
-----------------------------------------------------------------------------------------------------------------------
<b>How will we use your data?</b>

Our Company collects your data so that we can:
• Manage your account.
-----------------------------------------------------------------------------------------------------------------------
<b>How do we store your data?</b>

Our Company securely stores your data at our protected database.
Our Company will keep your account active until you ask it to be terminated.
-----------------------------------------------------------------------------------------------------------------------
<b>What are your data protection rights?</b>

Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to
the following:
The right to access – You have the right to request Our Company for copies of your personal data.
The right to rectification – You have the right to request that Our Company correct any information you believe is
inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.
The right to erasure – You have the right to request that Our Company erase your personal data, under certain
conditions.
The right to restrict processing – You have the right to request that Our Company restrict the processing of your
personal data, under certain conditions.
The right to object to processing – You have the right to object to Our Company’s processing of your personal data,
under certain conditions.
The right to data portability – You have the right to request that Our Company transfer the data that we have collected
to another organization, or directly to you, under certain conditions.
If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please
contact us at our email: sugarixi@gmail.com
-----------------------------------------------------------------------------------------------------------------------
<b>Privacy policies of other websites</b>

The Our Company website contains links to other websites. Our privacy policy applies only to our website, so if you
click on a link to another website, you should read their privacy policy.
-----------------------------------------------------------------------------------------------------------------------
<b>Changes to our privacy policy</b>

Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy
was last updated on 9 January 2019.
-----------------------------------------------------------------------------------------------------------------------
<b>How to contact us</b>

If you have any questions about Our Company’s privacy policy, the data we hold on you, or you would like to exercise one
of your data protection rights, please do not hesitate to contact us.
Email us at: sugarixi@gmail.com
</pre>